/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */
.nfo {display: none;}
@media screen and (max-width: 414px) {
   .box1 {
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 32vh;
    bottom: 0;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
.one {    margin-top: -70px;}
.gr {
        width: 45%;
    margin: 0;
}
    .swiper-container {min-width: 320px;}
    .wapclick {font-size: 75vw; opacity: 0.1; }
    .logo {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    left: 0;
    position: absolute;
    top: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    }
    .header {z-index: 999999999;}
    .text-logo {margin-top: 10px;}
    .autorize {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0px 10px;
    border-right: 6px solid #e45d36;
    border-top: none;
    height: 30px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    right: 0;
    position: absolute;
    top: 10px;
    }
    .icon-enter {
    position: relative;
    width: 30px;
    height: 30px;
    color: #fff;
    display: block;
    background: url(../img/enter.png) no-repeat center center;
    background-size: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 5px;
    }
    .content {-ms-flex-wrap: initial;flex-wrap: wrap;}
    .container {text-align: center;}
    span.auth {display: none;}
    .low {font-size: 14px;}
    .hi {
    font-size: 48px;
    font-weight: 900;
    line-height: 1.1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    }
    .text-block {
    position: absolute;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    left: 50%;
    top: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
    }
    .text-block2 {
    width: 50%;
    left: 50%;
    display: block;
    position: absolute;
    top: 18px;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
    }
    .mobils {
    opacity: 0;
    position: absolute;
    }
    a.rega {
    min-width: 300px;
    width: 90%;
    margin: 35px auto 5px;
    }
    .gray0 {text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.74);}
    .fs17 {font-size: 14px;}
    .why {
    max-width: 120px;
    top: 18px;
    position: absolute;
    }
    .one {
    height: auto;
    width: 100%;
    display: block;
    transform-box: view-box;
    }

    .mob-lines {
        display: block;
        width: 100%;
        position: relative;
    }
    .phones {width: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 15px; height: 40vh; z-index: 0;}
    
.line1-block2{
     position: relative;
    left: 0;
    top: 0;
    min-width: 200px;
    overflow: hidden; 
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 5px;
}

.line1-2 {
  width: auto;
  height: auto;
  width: 100%;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-size: 2.2vh;
}

.whatis {
    width: 200px;
    height: 149px;
    display: block;
}
img.proc90 { width: 200px; }
.box {-webkit-box-sizing: border-box;box-sizing: border-box; padding-left: 10px;}
.b1 {    margin-left: 0px;    padding: 0px 10px;}
.b2 {    margin-left: 0px;    padding: 0px 10px;}
.b3 {    margin-left: 0px;    padding: 0px 10px;}
.b4 {    margin-left: 0px;    padding: 0px 10px;}
.b5 {    margin-left: 0px;    padding: 0px 10px;}
.iconBlock {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    /* background-color: rgba(0,0,0,.5); */
    background-image: none;
    background-repeat: no-repeat;
    background-size: 100%;
    min-width: 30px;
    min-height: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
}
.text-container {
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    bottom: 30px;
}
.grText {
    font-size: 2.2vh;
}
.imgBox {
    background-size: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    max-width:30%;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    /* border-bottom: 2px solid rgb(254, 107, 60, .0); */
}
.title {
    font-size: 36px;
    margin: 57px auto -10px;
}
.text-container {
    background: none;
}
.cd-user-modal-container {
    margin: 8em auto 4em;
}
    
*
{        
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    /*IE10*/
    -ms-user-select: none;
    user-select: none;

    /*You just need this if you are only concerned with android and not desktop browsers.*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}  

.infograph {
    /*display: none!important; */
    /* opacity: 0; */
    /* z-index: -1; */
    /* visibility: hidden; */
    -webkit-transform: scale(0.45);
    -ms-transform: scale(0.45);
    transform: scale(0.40);
    left: -24%;
    position: relative;
    top: -90px;
}
.mob-lines {
    display: none;
}
}
.dis-no {display: none;}

.mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
}

.mobLine-block {
    position: relative;
    margin: 10px 0px;
    display: block;
    width: calc(50% - 90px);
    height: 100px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 20px;
    border-radius: 30px;
    border: 2px solid #fe6b3c;
}
#quad {
margin: 0px auto;
height: 30%;
width: 100px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
border-radius: 100%;
padding: 3px;
position: absolute;
    z-index: 999;
}
.quad-bg {
background: url(../img/nfo1.png) no-repeat top center;
background-size: contain;
width: 100%;
height: 100%;
}
.mobLine {max-width: 250px; font-size: 2.0vh;color: #fff;    text-align: center; }
.tar {
    text-align: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.tal {
    text-align: left;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 60px;
}
.swiper-slide {
    padding: 0;
}
.content-quad {
    width: 100%;
    height: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.mobLine-block {
    position: relative;
    margin: 10px 0px;
    display: block;
    width: calc(50% - 90px);
    height: 100px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 30px;
    border: none;
    background: #1b1f26;
    border-radius: 0!important;
    color: #1a1e25;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
overflow:  hidden;
}

.l1:before {
    content: "";
    display: block;
    width: 40px;
    height: 80%;
    background: #ff653d;
    background-image: url(../img/social/12/1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80%;
    position: absolute;
    left: 0;
    top: 10%;
    bottom: 10%;

}
.l2:before {
    content: "";
    display: block;
    width: 40px;
    height: 80%;
    background: #ff653d;
    background-image: url(../img/social/12/2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70%;
    position: absolute;
    left: 0;
    top: 10%;
    bottom: 10%;
}
.l3:before {
    content: "";
    display: block;
    width: 40px;
    height: 80%;
    background: #ff653d;
    background-image: url(../img/social/12/3.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70%;
    position: absolute;
    left: 0;
    top: 10%;
    bottom: 10%;
}
.l4:before {
    content: "";
    display: block;
    width: 40px;
    height: 80%;
    background: #ff653d;
    background-image: url(../img/social/12/4.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70%;
    position: absolute;
    left: 0;
    top: 10%;
    bottom: 10%;
}

.mobLine-block:after{
   content: "";
    display: block;
    width: 50%;
    height: 500px;
    background: #ff653d;
    transform: rotate(0deg);
    position: absolute;
    top: 91%;
    bottom: 10%;
    z-index: -1;
    left: 50%;
}

.mobLine {
    color: #fff;
    text-align: left;
    font-size: 3.2vw;
    padding-left: 36px;
}





@media screen and (orientation: landscape) and (max-height: 550px) {
    .tablet-no {display: none;}
    .swiper-container {min-width: 100%;}
    a.rega {    min-width: 240px; margin-top: 10px;}
    .low {    font-size: 12px;}
    .hi {font-size: 41px;}
    .fs17 {    font-size: 10.5px;    font-weight: 400;}
    .logo {max-width: 46%; text-align: center;}
    .icon-logo {    width: 30px;}
    .text-logo {width: 125px;}
    .dis-no {display: none;}
    .tablet-no { display: block;font-size: 30px;}
    .infographika {display: none;}
    .center-position-block {}
    .nfo {width: 100%;height: 80vh;background: #333;}
    .no-mobile {display: none;}
    .imgBox {    height: 70px;    max-width: 90px;}
    .img-block {height: 40%;}
    .one {display: none;}
    .content-quad {height: auto;}
    .mobLine-block {
    	width: calc(50% - 15px);
    height: 70px;
    padding-top: 16px;
    margin: 10px auto;
    }
    .mobLine {font-size: 10px!important;}

  }

     
     @media (min-width: 768px) and (max-width: 1024px) {
        
        .swiper-container {min-width: 320px;}
        .tablet-no { display: block;font-size: 30px;}
        .tablet-no {display: block;}
        img.why {
    display: block;
    z-index: 1;
    width: 40%;
    position: absolute;
    top: 10px;
}
        .text-block {width: 50%;}
        .phones {position: relative;z-index: 0;top: 10%; width: 50%;}
        .infographika {position: absolute;top: 30%;-webkit-transform: scale(0.85);-ms-transform: scale(0.85);transform: scale(0.85);left: 22%;}
        .imgBox {height: 168px;    max-width: 230px;}
        .height100vh {height: 100vh;}
        .header {z-index: 999;}
        .imgBox {height: 180px;   max-width: 130px;}
        .infograph {left: 70px;}
     }
      @media only screen and (max-width : 720px) and (max-height : 1280px) {
    .infograph {left: -14%; -webkit-transform: scale(0.46); -ms-transform: scale(0.46);transform: scale(0.46);}}
    @media only screen and (width: 360px) {
        .infograph {left: -24%; -webkit-transform: scale(0.40); -ms-transform: scale(0.40);transform: scale(0.40);}
    }
    @media screen and (min-width: 1025px) and (max-width: 1300px) {
        .tablet-no {display: block!important;}
        .dis-no {display: none!important;}
        .infograph {left: 10%;}
    }
    
@media screen and (orientation: portrait) {
    .mobile {display: none;}
}
@media screen and (orientation: landscape) and (max-height: 414px) {
    .mobile {
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}
}
@media screen and (orientation: landscape) and (min-height: 415px) {
    .mobile {display: none;}
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) {
    .mobile {display: block;}
    .no-mobile {display: none;}
    .l1, .l2, .l3, .l4 {
        width: 90%;
    left: 0;
    margin: 0;
    height: auto;
    margin: 5px auto;
    padding: 10px;
    text-align: center;
    border-radius: 100px;
    text-align: center;
}
.gr {width: 38%;}
.content-quad {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.fs17 {
    font-size: 13px;
}
a.rega { margin: 10px auto 5px;}
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) {
    html, body, .swiper-container {
        height: 100vh;
        position: relative;
        padding: 0;
    }
    .mobLine-block{width: calc(50% - 45px);
    height: 65px;}
    .content-quad {height: 70%;}
    .low {font-size: 10px;}
    .hi {font-size: 34.5px;}
    .logo {max-width: 36%;    margin-top: 60px;}
    .fs17{    font-size: 9px;}
    a.rega {
        min-width: 200px;
    margin-top: 10px;
    font-size: 14px;
    height: 30px;
    padding: 10px 30px;
    }   
    .text {    margin-top: 00px;}
    .mouse {    bottom: 90px;}
    .social-icons {
    bottom: 54px;
    left: 10px;
}
.autorize {font-size: 12px; margin-top: 50px; padding-top: 0px;    height: 45px;}
}
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) { 
	.mobLine {font-size: 4vw;}
}
@media screen and (min-width: 415px) {
    .gr {width: 60%; margin-top: 10px;}
}

@media screen and (width: 768px) and (height: 1024px) {
    .text-block {
        width: 100%;
    }
    .infographika {left: 14%;}
    .img-block {height: 45%;}
    .imgBox {    height: 180px;    max-width: 220px;}
    .for-ipad {
    flex-direction: column-reverse;
    height: auto;
    }
    img.why {
            width: 28%;
    }
}
@media screen and (height: 768px) and (width: 1024px) {
    .img-block {height: 45%;}
    .imgBox {    height: 180px;    max-width: 260px;}
    .phones-for-ipad{top: 0;}

}
@media screen and (max-width: 1024px) {
    .header { }
    .article__title {
    font-size: 18px;
    line-height: 16px;
    color: #fff;
    margin-top: 49px;
    margin-bottom: 5px;
    }
    a.nav-link.autorize.cd-log {    width: 50px;    }
    ul#navlist {    left: 5px;    position: absolute;    top: 7px;}
    img.text-logo {width: 30%;max-width: auto; min-width: auto; margin: 0 5px;}
    img.icon-logo {width: 12%; float: left;  margin: 0 5px;}
    .logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    top: 15px;
    transition: all 2s ease;
    z-index: -1;
    width: 200px;
    max-width: 200px;
    min-width: 200px;
    left: 50%;
    transform: translate(-30%);
}
    /* width */
::-webkit-scrollbar {
  width: 0px;
  margin-top: 40px;
  left: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .logo {
        width: 250px;
        top: 15px;
        position: absolute;
    }
}