@media screen and (max-width: 414px) {
	.swiper-container {min-width: 320px;}
	.wapclick {font-size: 75vw; opacity: 0.1; }
	.logo {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    left: 0;
    position: absolute;
    top: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
	}
	.header {z-index: 999999999;}
	.text-logo {margin-top: 10px;}
	.autorize {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0px 10px;
    border-right: 6px solid #e45d36;
    border-top: none;
    height: 30px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    right: 0;
    position: absolute;
    top: 10px;
	}
	.icon-enter {
	position: relative;
	width: 30px;
	height: 30px;
	color: #fff;
	display: block;
	background: url(../img/enter.png) no-repeat center center;
	background-size: 100%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 5px;
	}
	.content {-ms-flex-wrap: initial;flex-wrap: initial;}
	.container {text-align: center;}
	span.auth {display: none;}
	.low {font-size: 14px;}
	.hi {
    font-size: 48px;
    font-weight: 900;
    line-height: 1.1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
	}
	.text-block {
    position: absolute;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    left: 50%;
    top: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
	}
	.text-block2 {
    width: 50%;
    left: 50%;
    display: block;
    position: absolute;
    top: 18px;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
	}
	.mobils {
    opacity: 0;
    position: absolute;
	}
	a.rega {
	min-width: 300px;
	width: 90%;
    margin: 35px auto 5px;
	}
	.gray0 {text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.74);}
	.fs17 {font-size: 14px;}
	.why {
    max-width: 120px;
    top: 18px;
    position: absolute;
	}
	.infograph {
	}
    .one {
    height: 250px;
    width: 250px;
    display: block;
    transform-box: view-box;
    }
  /*  .infograph {
    	display: none!important;
    	opacity: 0;
    	z-index: -1;
    	visibility: hidden;
    }*/
    .mob-lines {
    	display: block;
    	width: 100%;
    	position: relative;
    }
    .phones {width: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 15px; height: 40vh; z-index: 0;}
	
.line1-block2{
  	 position: relative;
    left: 0;
    top: 0;
    min-width: 200px;
    overflow: hidden; 
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 5px;
}

.line1-2 {
  width: auto;
  height: auto;
  width: 100%;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-size: 2.2vh;
}

.whatis {
	width: 200px;
    height: 149px;
    display: block;
}
img.proc90 {
    width: 200px;
}
.box {-webkit-box-sizing: border-box;box-sizing: border-box; padding-left: 10px;}
.b1 {    margin-left: 0px;    padding: 0px 10px;}
.b2 {    margin-left: 0px;    padding: 0px 10px;}
.b3 {    margin-left: 0px;    padding: 0px 10px;}
.b4 {    margin-left: 0px;    padding: 0px 10px;}
.b5 {    margin-left: 0px;    padding: 0px 10px;}
.iconBlock {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    /* background-color: rgba(0,0,0,.5); */
    background-image: none;
    background-repeat: no-repeat;
    background-size: 100%;
    min-width: 30px;
    min-height: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
}
.text-container {
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    bottom: 30px;
}
.grText {
	font-size: 2.2vh;
}
.imgBox {
    background-size: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    max-width: 110px;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    /* border-bottom: 2px solid rgb(254, 107, 60, .0); */
}.title {
	font-size: 36px;
}
.text-container {
	background: none;
}
.cd-user-modal-container {
	margin: 8em auto 4em;
}
    
*
{        
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    /*IE10*/
    -ms-user-select: none;
    user-select: none;

    /*You just need this if you are only concerned with android and not desktop browsers.*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}  
.imgBox:hover {

 }

.infograph {
    /* display: none!important; */
    /* opacity: 0; */
    /* z-index: -1; */
    /* visibility: hidden; */
    transform: scale(0.45);
    left: -55px;
    position: relative;
    top: -90px;
}
.mob-lines {
	display: none;
}




}



























